{#
/**
 * @file
 * FastComments widget template.
 *
 * Variables:
 * - commenting_style: The commenting style (comments, livechat, collabchat, collabchat_comments, imagechat).
 * - widget_element_id: Unique DOM element ID for this widget instance.
 * - noscript_url: The SSR fallback URL for noscript.
 * - show_noscript: Whether to show the noscript fallback.
 *
 * The CDN scripts are loaded dynamically by js/fastcomments-widget.js via
 * drupalSettings, following the Drupal library/behavior pattern.
 */
#}
<div class="fastcomments-widget-wrapper" data-fastcomments-instance="{{ widget_element_id }}" role="region" aria-label="FastComments">
  {% if commenting_style not in ['collabchat', 'imagechat'] %}
    <div id="{{ widget_element_id }}"></div>
  {% endif %}

  {% if show_noscript and noscript_url %}
    <noscript>
      <iframe
        src="{{ noscript_url }}"
        horizontalscrolling="no"
        allowtransparency="true"
        frameborder="0"
        title="FastComments"
        width="100%"
        height="1500px"
        style="width: 1px !important; min-width: 100% !important; border: none !important; overflow: hidden !important;"
      ></iframe>
    </noscript>
  {% endif %}
</div>
